body {
    background: url(loginBgv2.jpg) rgb(149, 149, 163);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}


.navbar1 {
    background-color: #d0d0d0;
    margin-top: -30px;
}

#navBar_unorderdList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px rgba(255, 0, 0, 0);
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #333333;
}

#navBar_listLitem {
    float: right;
}

#navBar_listLogo {
    float: left;
}


#navBar_link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    display: block;
    color: white;
    text-align: center;
    padding: 40px 14px;

}

#navBar_link_current {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    text-align: center;
    display: block;
    color: rgb(12, 11, 11);
    text-align: center;
    padding: 40px 14px;
}


.navBar_text_BoxifyLogo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    padding-right: 500 px;
    padding-top: 5px;
    color: #f9f9f9;
}


.footer-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 66.6px;
    box-shadow: 0px 5px 5px rgba(255, 0, 0, 0);
    list-style-type: none;
    margin: 0;
    overflow: visible;
    background-color: #333333;
    padding-top: 10px;
}

.footer_unorderedList {
    list-style-type: none;
}

#footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    color: rgb(255, 255, 255);
}

#footer_listItem {
    float: left;
    margin-left: 25px;
}

.footer-text {
    position: absolute;
    width: 377px;
    height: 16px;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 45px;

    color: #FFFFFF;
}

#footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.container{
    width:100%;
    top: 50px;
    height: calc(100vh - 66.6px);
    background-image: url(..//Images/loginBg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100vh
}


.box_login {
    width: 500px;
    height: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #dbd6d6;
    border-radius: 50px;
}

#textMessage_login {
    position: relative;
    top: 10px;
    width: 100%;
    height: 80px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

#textInput_text_username {
    position: absolute;
    top: 40px;
    left: 125px;
    width: 50px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #000000;
}

#textInput_top {
    position: absolute;
    top:100px;
    left: 125px;    
    box-sizing: border-box;
    width: 250px;
    height: 25px;
    background: #fcfcfc;
    border: 1px solid #000000;
    border-radius: 18px;
}

#textInput_text_password {
    position: absolute;
    top: 120px;
    left: 125px;
    width: 50px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

#textInput_bottom {
    position: absolute;
    top: 180px;
    left: 125px;
    box-sizing: border-box;
    width: 250px;
    height: 25px;
    background: #fcfcfc;
    border: 1px solid #000000;
    border-radius: 18px;
}

#button_login {
    position: absolute;
    top: 250px;
    left:100px;
    width: 300px;
    height: 50px;
    background: #333333;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 44px;
    color: #FFFFFF;

}

#textMessage_1 {
    position: absolute;
    bottom: 30px;
    left: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #000000;
}

#textLink_signUp {
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 150px;

    width: 200px;
    height: 22px;
    background: #333333;

    border-bottom: 5px rgb(0, 0, 0) solid;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #F4f4f4;
}

#text_BoxifyLogo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 1px;
    padding-right: 500 px;
    padding-top: 5px;
}



.error_message {
    color: #db0808;
    position: absolute;
    font-size: 15px;
    width: 400px;
    top: 300px;
    left: 100px;
    text-align: center;
    max-width: 350px;
}
